.ipynb_checkpoints
*/.ipynb_checkpoints
venv
.DS_Store
*/.DS_Store
*__pycache__
data/mirabest
data/frdeep
data/mingo
models/bowles2021
models/scaife2021
models/tang2019
models/e2attention
*.log
logs/
runs.sh
